.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  font-size: 16px;
  line-height: 24px;

  background: none;
  border: 0;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $color-medium-purple;
  }

  &:active {
    background-color: $color-royal-purple;
  }

  &:disabled {
    background-color: $color-silver;

    pointer-events: none;
  }

  &--primary {
    color: $color-white;

    background-color: $color-slate-blue;
  }
}
