.map {
  background-color: $color-white-smoke;
}

.map__wrapper {
  height: 420px;

  @include vp-min-768 {
    height: 480px;
  }
  @include vp-min-1440 {
    height: 540px;
  }

  .no-js & {
    display: none;
  }
}

.map__features {
  display: none;

  .no-js & {
    display: block;
    width: 320px;
    margin: 0 auto;

    @include vp-min-768 {
      width: $vp-768;
    }
    @include vp-min-1440 {
      width: $vp-1440;
    }
  }
}

.map__image {
  display: block;
  width: 320px;

  @include vp-min-768 {
    width: $vp-768;
  }
  @include vp-min-1440 {
    width: $vp-1440;
  }
}
